<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <title>Document</title>
</head>
<body>
<div class=".test-container">
  
</div>
  
  <div class="container">
    <div class="person-row">
      <h1>Person online</h1>
    
        <ul id="personlist">
      </ul>
    
     
  
    </div>
    <div class="row">
      <div id="myDiv">
        <ul id="myList">
      </ul>
      </div>
    
    </div>
  </div>
  <center>
    <form id="message-form">
      <input  id="input-message" name="message" type="text" placeholder="enter your message">
      <button id="submit-btn"   type="submit" >submit</button>
    </form>
  </center>
    <script src="/socket.io/socket.io.js"></script>

    <script src="client.js"></script>

</body>
</html>