<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <title>Document</title>
</head>
<body>
    <div class="form-manager">
        <div class="form-div">
            
            <center>
            <form  onsubmit="return validateForm()"  action="/create" method="post" class="form-content">
                
        <h1>oops not created room</h1>
        <label for="">room name</label><br>
            <input type="text" name="roomname" id="roomname"><br>
            <label for="">Password</label><br>
            <input type="password" name="pass" id="pass"><br>
            <button>create group</button>
            <span id="error" class="error-message">Input field are  empty</span>
            </form>
     
        </center>
        </div>
    </div>
    <script src="create.js"></script>
</body>
</html>