<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>You are the first use for room</h1>
    <p>Go back and login</p>
    <form action="/" method="get">
        <button>Go back</button>
    </form>
</center>

    
</body>
</html>